/* Import fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;500;700");

/* Importing all components file */
@import url("components/cards.css");

/* General for fonts and colors */
body {
  margin: 100px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(247, 247, 247);
}

h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}

.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 960px) {
  .card-category {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .card-category {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .card-category {
    width: 300px;
  }
}

@media (max-width: 960px) {
  .card-product {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .card-product {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .card-product {
    width: 300px;
  }
}
@media (max-width: 960px) {
  .card-trip {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .card-trip {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .card-trip {
    width: 300px;
  }
}
